<section id="follow">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's stay in touch!</h2>
        <p>
          Ready to learn about entrepreneurship with Aesop's fables?
        </p>
      </div>
    </div>
    <div class="row subscribe">
      <div class="col-lg-5">
        <div class="form-group">
          <form action="//fablesforfounders.us14.list-manage.com/subscribe/post?u=dfc521e9d02cbf0ed0720fce4&amp;id=7e4fe4029a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required-email form-control" id="mce-EMAIL" placeholder="Your email here">
            <span class="form-group-btn">
              <button class="btn btn-secondary" form="mc-embedded-subscribe-form" id="mc-embedded-subscribe" name="subscribe" type="submit">
                <i class="fa fa-star fa-2x wow bounceIn" data-wow-delay=".1s"></i>
              </button>
            </span>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!-- Bot Protector  -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_dfc521e9d02cbf0ed0720fce4_7e4fe4029a" tabindex="-1" value="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row social">
      <div class="social-icon col-sm-1 text-center">
        <a href="https://twitter.com/aesopforentrepreneurs">
          <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
      <div class="social-icon col-sm-1 text-center">
        <a href="https://facebook.com/site/aesopforentrepreneurs">
          <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
      <div class="social-icon col-sm-1 text-center">
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
    </div>
  </section>
