<section id="follow">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Follow us!</h2>
                <!-- <hr class="primary"> -->
                <p>
                    Ready to learn about entrepreneurship through Aesop's fables? Follow us and keep in touch!
                </p>
            </div>
          </div>
          <div class="row subscribe">
            <div class="col-lg-5">
                <div class="input-group">
                  <input type="text" class="form-control"
                        placeholder="Enter your email ...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">
                      <i class="fa fa-star fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                    </button>
                  </span>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-2  text-center">
                <a href="https://twitter.com/aesopforentrepreneurs">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://facebook.com/site/aesopforentrepreneurs">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://pinterest.com/u/aesopforentrepreneurs">
                    <i class="fa fa-pinterest fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
</section>
