<header>
  <div class="header-background"></div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Aesop for Entrepreneurs</h1>
            <hr>
            <p>
              Aesop for Entrepreneurs combines Aesop's ancient fables with the spirit of modern entrepreneurship and provides guidance on how to start and operate a successful business venture.
            </p>
            <div class="row">
              <a href="#about" class="col btn btn-primary btn-xl page-scroll">Find Out More</a>
              <a href="https://amazon.com" class="col btn btn-primary btn-xl page-scroll">Get on Amazon</a>
            </div>
        </div>
    </div>
</header>
