<header>
  <div class="header-background"></div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Aesop for Entrepreneurs</h1>
            <hr>
            <p>
              Aesop for Entrepreneurs combines Aesop's ancient fables with the spirit of modern entrepreneurship and provides guidance on how to start and operate a successful business venture.
            </p>
            <div class="row">
              <a target="_blank" href="https://www.amazon.com/dp/1542591163?&_encoding=UTF8&tag=aesopforentre-20&linkCode=ur2&linkId=5c91e52299a1308dc5a7613dc1fff969&camp=1789&creative=9325" class="col-lg-offset-4 col-lg-2 btn btn-primary btn-xl">Buy Fables 1 - 25</a>
              <a target="_blank" href="https://www.amazon.com/Aesop-Entrepreneurs-Alexander-F-Goldsborough/dp/1543145736/ref=sr_1_1?s=books&ie=UTF8&qid=1487723555&sr=1-1" class="col-lg-2 btn btn-primary btn-xl">Buy Fables 25 - 50</a>
              <img src="//ir-na.amazon-adsystem.com/e/ir?t=aesopforentre-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </div>
            <div>
        </div>
    </div>
</header>
