<header>
  <div class="header-background"></div>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Aesop for Entrepreneurs</h1>
      <hr>
      <p>
        Aesop for Entrepreneurs combines Aesop's ancient fables with the spirit of modern entrepreneurship and provides guidance on how to start and operate a successful business venture.
      </p>
      <div class="row">
        <a target="_blank" href="https://www.amazon.com/gp/product/1542591163/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1542591163&linkCode=as2&tag=aesopforentre-20&linkId=da7334e0c437ed9e5c7e00a3c65749d9" class="col-lg-offset-4 col-lg-2 btn btn-primary btn-xl">Fables 1 - 25</a>
        <img src="//ir-na.amazon-adsystem.com/e/ir?t=aesopforentre-20&l=am2&o=1&a=1542591163" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a target="_blank" href="https://www.amazon.com/gp/product/1543145736/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1543145736&linkCode=as2&tag=aesopforentre-20&linkId=aa4c66d85fd19d40167c666cc9490107" class="col-lg-2 btn btn-primary btn-xl">Fables 26 - 50</a>
        <img src="//ir-na.amazon-adsystem.com/e/ir?t=aesopforentre-20&l=am2&o=1&a=1543145736" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </div>
      <div class="row social">
        <div class="social-icon col-sm-1 text-center">
          <a href="https://twitter.com/aesop4founders" target="_blank">
            <i class="fa fa-twitter fa-3x" data-wow-delay=".1s"></i>
          </a>
        </div>
        <div class="social-icon col-sm-1 text-center">
          <a href="https://www.facebook.com/aesopforentrepreneurs/" target="_blank">
            <i class="fa fa-facebook fa-3x" data-wow-delay=".1s"></i>
          </a>
        </div>
        <div class="social-icon col-sm-1 text-center">
          <a href="https://aesopforentrepreneurs.tumblr.com/" target="_blank">
            <i class="fa fa-pencil fa-3x" data-wow-delay=".1s"></i>
          </a>
        </div>
        <div class="social-icon col-sm-1 text-center">
          <a href="https://www.linkedin.com/in/alexgoldsborough/" target="_blank">
            <i class="fa fa-linkedin fa-3x" data-wow-delay=".1s"></i>
          </a>
        </div>
        <div class="social-icon col-sm-1 text-center">
          <a href="mailto:{{ site.email }}" target="_blank">
            <i class="fa fa-envelope-o fa-3x" data-wow-delay=".1s"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
