<section class="bg-primary" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Learn about entrepreneurship with Aesop's fables!</h2>
                <hr class="light">
                <p class="text-faded">
                  For many of Aesop’s fables, this book offers lessons that are
                  important for success as an entrepreneur. Aesop’s stories are
                  more than only children stories or moral lessons, together
                  they're a wonderful experiential learning roadmap for
                  acquiring the positive mindset and entrepreneurial spirit to
                  successfully build and manage a new business venture. As in
                  the real world, Aesop's characters are confronted with
                  difficult challenges and problems which they must overcome
                  with the help of creative, rational, tactical and strategic
                  solutions and decision-making actions.
                </p>
            </div>
        </div>
    </div>
</section>
