<section class="no-padding" id="showcase">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6">
                <a href="#" class="showcase-box">
                    <img src="img/fish.png" class="img-responsive" alt="">
                    <div class="showcase-box-caption">
                        <div class="showcase-box-caption-content">
                            <div class="project-name">
                                The Dolphins the Whale and the Sprat
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="#" class="showcase-box">
                    <img src="img/bat-and-weasel.png" class="img-responsive" alt="">
                    <div class="showcase-box-caption">
                        <div class="showcase-box-caption-content">
                            <div class="project-name">
                                The Bat and the Weasel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="#" class="showcase-box">
                    <img src="img/northwind.png" class="img-responsive" alt="">
                    <div class="showcase-box-caption">
                        <div class="showcase-box-caption-content">
                            <div class="project-name">
                                The Northwind and the Sun
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="#" class="showcase-box">
                    <img src="img/hawk-and-nightingale.png" class="img-responsive" alt="">
                    <div class="showcase-box-caption">
                        <div class="showcase-box-caption-content">
                            <div class="project-name">
                                The Hawk and the Nightingale
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
